<div class="footer">
    <div>
        <h4  class="font-weight-bold" jhiTranslate="home.goals">
            Our goals
        </h4>

        <ul  class="font-weight-bold mt5">
            <li><h5 class="text-success"  jhiTranslate="home.link.goal1">JHipster homepage</h5></li>
            <li><h5 class="text-success"  jhiTranslate="home.link.goal2">JHipster homepage</h5></li>
            <li><h5 class="text-success"  jhiTranslate="home.link.goal3">JHipster homepage</h5></li>
        </ul>
    </div>
</div>
