<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commentOfCitation">
            <h2><span jhiTranslate="azgzawApp.commentOfCitation.detail.title">Comment Of Citation</span> {{commentOfCitation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="azgzawApp.commentOfCitation.bodyComment">Body Comment</span></dt>
                <dd>
                    <span>{{commentOfCitation.bodyComment}}</span>
                </dd>
                <dt><span jhiTranslate="azgzawApp.commentOfCitation.commentOfCitationImage">Comment Of Citation Image</span></dt>
                <dd>
                    <div *ngIf="commentOfCitation.commentOfCitationImage">
                        <a (click)="openFile(commentOfCitation.commentOfCitationImageContentType!, commentOfCitation.commentOfCitationImage)">
                            <img [src]="'data:' + commentOfCitation.commentOfCitationImageContentType + ';base64,' + commentOfCitation.commentOfCitationImage" style="max-width: 100%;" alt="commentOfCitation image"/>
                        </a>
                        {{commentOfCitation.commentOfCitationImageContentType}}, {{byteSize(commentOfCitation.commentOfCitationImage)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="azgzawApp.commentOfCitation.dateOfCreation">Date Of Creation</span></dt>
                <dd>
                    <span>{{commentOfCitation.dateOfCreation}}</span>
                </dd>
                <dt><span jhiTranslate="azgzawApp.commentOfCitation.citation">Citation</span></dt>
                <dd>
                    <div *ngIf="commentOfCitation.citation">
                        <a [routerLink]="['/citation', commentOfCitation.citation?.id, 'view']">{{commentOfCitation.citation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment-of-citation', commentOfCitation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
