<div>
    <h2 id="page-heading">
        <span jhiTranslate="azgzawApp.commentOfStatus.home.title">Comment Of Statuses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comment-of-status" [routerLink]="['/comment-of-status/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="azgzawApp.commentOfStatus.home.createLabel">
            Create a new Comment Of Status
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'azgzawApp.commentOfStatus.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="commentOfStatuses?.length === 0">
        <span jhiTranslate="azgzawApp.commentOfStatus.home.notFound">No commentOfStatuses found</span>
    </div>
    <div class="table-responsive" *ngIf="commentOfStatuses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfStatus.bodyComment">Body Comment</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfStatus.commentOfStatusImage">Comment Of Status Image</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfStatus.mediaType">Media Type</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfStatus.dateOfCreation">Date Of Creation</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfStatus.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfStatus.author">Author</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentOfStatus of commentOfStatuses ;trackBy: trackId">
                <td><a [routerLink]="['/comment-of-status', commentOfStatus.id, 'view' ]">{{commentOfStatus.id}}</a></td>
                <td>{{commentOfStatus.bodyComment}}</td>
                <td>
                    <a *ngIf="commentOfStatus.commentOfStatusImage" (click)="openFile(commentOfStatus.commentOfStatusImageContentType, commentOfStatus.commentOfStatusImage)">
                        <img [src]="'data:' + commentOfStatus.commentOfStatusImageContentType + ';base64,' + commentOfStatus.commentOfStatusImage" style="max-height: 30px;" alt="commentOfStatus image"/>
                    </a>
                    <span *ngIf="commentOfStatus.commentOfStatusImage">{{commentOfStatus.commentOfStatusImageContentType}}, {{byteSize(commentOfStatus.commentOfStatusImage)}}</span>
                </td>
                <td>{{commentOfStatus.mediaType}}</td>
                <td>{{commentOfStatus.dateOfCreation | date:'medium'}}</td>
                <td>
                    <div *ngIf="commentOfStatus.status">
                        <a [routerLink]="['/status', commentOfStatus.status?.id, 'view' ]" >{{commentOfStatus.status?.id}}</a>
                    </div>
                </td>
                <td>
                    {{commentOfStatus.author?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/comment-of-status', commentOfStatus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comment-of-status', commentOfStatus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(commentOfStatus)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
