<div>
    <h2 id="page-heading">
        <span jhiTranslate="azgzawApp.commentOfGift.home.title">Comment Of Gifts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comment-of-gift" [routerLink]="['/comment-of-gift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="azgzawApp.commentOfGift.home.createLabel">
            Create a new Comment Of Gift
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'azgzawApp.commentOfGift.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="commentOfGifts?.length === 0">
        <span jhiTranslate="azgzawApp.commentOfGift.home.notFound">No commentOfGifts found</span>
    </div>
    <div class="table-responsive" *ngIf="commentOfGifts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfGift.bodyComment">Body Comment</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfGift.commentOfGiftImage">Comment Of Gift Image</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfGift.dateOfCreation">Date Of Creation</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfGift.gift">Gift</span></th>
            <th scope="col" ><span jhiTranslate="azgzawApp.commentOfGift.author">Author</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentOfGift of commentOfGifts ;trackBy: trackId">
                <td><a [routerLink]="['/comment-of-gift', commentOfGift.id, 'view' ]">{{commentOfGift.id}}</a></td>
                <td>{{commentOfGift.bodyComment}}</td>
                <td>
                    <a *ngIf="commentOfGift.commentOfGiftImage" (click)="openFile(commentOfGift.commentOfGiftImageContentType, commentOfGift.commentOfGiftImage)">
                        <img [src]="'data:' + commentOfGift.commentOfGiftImageContentType + ';base64,' + commentOfGift.commentOfGiftImage" style="max-height: 30px;" alt="commentOfGift image"/>
                    </a>
                    <span *ngIf="commentOfGift.commentOfGiftImage">{{commentOfGift.commentOfGiftImageContentType}}, {{byteSize(commentOfGift.commentOfGiftImage)}}</span>
                </td>
                <td>{{commentOfGift.dateOfCreation | date:'medium'}}</td>
                <td>
                    <div *ngIf="commentOfGift.gift">
                        <a [routerLink]="['/gift', commentOfGift.gift?.id, 'view' ]" >{{commentOfGift.gift?.id}}</a>
                    </div>
                </td>
                <td>
                    {{commentOfGift.author?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/comment-of-gift', commentOfGift.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comment-of-gift', commentOfGift.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(commentOfGift)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
